Repository ecmwf/anemoi-transform, pull requests merged in 2025-09, with the labels that each got.

#164 fix(filter): fix small bug in rename filter
  src/anemoi/transform/filters/rename.py
Labels: bug, ATS Approval not needed

#163 feat: add lsnp to sp filter
  src/anemoi/transform/filters/lnsp_to_sp.py
  tests/test_lnsp_to_sp.py
  tests/utils/__init__.py
Labels: enhancement, tests

#170 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-ats.yml
Labels: sync, CI/CD

#172 docs: filter documentation review
  docs/filters/.gitignore
  docs/filters/list-of-filters.rst
  docs/index.rst
  docs/scripts/Makefile
  docs/scripts/list-filters.py
  pyproject.toml
  src/anemoi/transform/documentation.py
  src/anemoi/transform/filters/apply_mask.py
  src/anemoi/transform/filters/clipper.py
  src/anemoi/transform/filters/empty.py
  src/anemoi/transform/filters/lambda_filters.py
  src/anemoi/transform/filters/orog_to_z.py
  src/anemoi/transform/filters/remove_nans.py
  src/anemoi/transform/filters/repeat_members.py
  src/anemoi/transform/filters/rescale.py
  src/anemoi/transform/filters/snow_cover.py
Labels: documentation, dependencies, ATS Approval not needed
