Repository ecmwf/anemoi-transform, pull requests merged in 2025-04, with the labels that each got.

#80 docs: fix typo
  docs/cli/get-grid.rst
  docs/cli/make-regrid-matrix.rst
Labels: documentation

#71 feat: add grid class and factory
  src/anemoi/transform/fields.py
  src/anemoi/transform/grids/__init__.py
  src/anemoi/transform/grids/icon.py
Labels: contributor

#82 fix: grid support
  pyproject.toml
  src/anemoi/transform/commands/get-grid.py
  src/anemoi/transform/fields.py
  src/anemoi/transform/filters/regrid.py
  src/anemoi/transform/variables/variables.py
Labels: bug, dependencies

#81 chore(main): Release 0.1.9
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending
