Repository ecmwf/anemoi-transform, pull requests merged in 2025-10, with the labels that each got.

#152 chore(main): Release 0.1.17
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#175 chore: Add README to pyproject.toml
  pyproject.toml
Labels: dependencies, ATS Approval not needed

#176 chore(orog_to_z): Fix docstring syntax warning
  src/anemoi/transform/filters/orog_to_z.py
Labels: ATS Approval not needed
