Repository ecmwf/anemoi-transform, pull requests merged in 2025-07, with the labels that each got.

#118 bring in test for arome
  tests/test_pressure_level_humidity.py
  tests/utils/__init__.py
Labels: tests

#104 feat: Add SingleFieldFilter
  docs/filters/single-field-filters.rst
  docs/index.rst
  src/anemoi/transform/fields.py
  src/anemoi/transform/filter.py
  tests/test_fields.py
  tests/test_filter.py
Labels: documentation, enhancement, tests, ATS Approval not needed

#122 chore: Rename w_to_wz and wz_to_w filters for consistency
  src/anemoi/transform/filters/w_to_wz.py
Labels: ATS Approval not needed

#107 chore(main): Release 0.1.12
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#132 feat(variable): Period property for non-instant fields
  src/anemoi/transform/variables/__init__.py
  src/anemoi/transform/variables/variables.py
  tests/test_variables.py
Labels: enhancement, tests

#130 chore(main): Release 0.1.14
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#124 test: Add test for `GroupByParam`
  tests/test_grouping.py
Labels: tests

#91 fix: apply_mask with non-boolean masks
  src/anemoi/transform/filters/apply_mask.py
Labels: bug

#142 feat: Remove python 3.9 from pyproject.toml.
  pyproject.toml
Labels: enhancement

#134 docs: filter migration
  docs/cli/filters.rst
  docs/filters/earthkitfieldlambda.rst
  docs/filters/empty.rst
  docs/filters/list-of-filters.rst
  docs/filters/noop.rst
  docs/filters/orog_to_z.rst
  docs/filters/q_to_r.rst
  docs/filters/r_to_d.rst
  docs/filters/regrid.rst
  docs/filters/rename.rst
  docs/filters/sum.rst
  docs/filters/uv_to_ddff.rst
  docs/filters/w_to_wz.rst
  docs/filters/yaml/earthkitfieldlambda.yaml
  docs/filters/yaml/orog_to_z.yaml
  docs/filters/yaml/q_to_r.yaml
  docs/filters/yaml/r_to_d.yaml
  docs/filters/yaml/regrid1.yaml
  docs/filters/yaml/regrid2.yaml
  docs/filters/yaml/rename.yaml
  docs/filters/yaml/sum.yaml
  docs/filters/yaml/uv_to_ddff.yaml
  docs/filters/yaml/w_to_wz.yaml
  docs/index.rst
  src/anemoi/transform/commands/filters.py
Labels: documentation

#143 chore: Update type hints to >=3.10
  docs/conf.py
  src/anemoi/transform/fields.py
  src/anemoi/transform/filter.py
  src/anemoi/transform/filters/clipper.py
  src/anemoi/transform/filters/cos_sin_mean_wave_direction.py
  src/anemoi/transform/filters/dewpoint.py
  src/anemoi/transform/filters/glacier_mask.py
  src/anemoi/transform/filters/lambda_filters.py
  src/anemoi/transform/filters/land_parameters.py
  src/anemoi/transform/filters/matching.py
  src/anemoi/transform/filters/oras6_clipping.py
  src/anemoi/transform/filters/q_to_r.py
  src/anemoi/transform/filters/regrid.py
  src/anemoi/transform/filters/repeat_members.py
  src/anemoi/transform/filters/rescale.py
  src/anemoi/transform/filters/rodeo_opera_clipping.py
  src/anemoi/transform/filters/rodeo_opera_preprocessing.py
  src/anemoi/transform/filters/snow_cover.py
  src/anemoi/transform/filters/sum.py
  src/anemoi/transform/filters/timeseries.py
  src/anemoi/transform/filters/uv_to_ddff.py
  src/anemoi/transform/filters/w_to_wz.py
  src/anemoi/transform/flavour.py
  src/anemoi/transform/grids/unstructured.py
  src/anemoi/transform/grouping/__init__.py
  src/anemoi/transform/sources/mars.py
  src/anemoi/transform/transform.py
  src/anemoi/transform/variables/__init__.py
  src/anemoi/transform/variables/variables.py
  src/anemoi/transform/workflow.py
  src/anemoi/transform/workflows/pipeline.py
  tests/conftest.py
  tests/test_filter.py
  tests/test_matching.py
  tests/test_repeat_members.py
Labels: documentation, tests
