Repository ecmwf/anemoi-transform, pull requests merged in 2025-08, with the labels that each got.

#135 chore(main): Release 0.1.15
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#144 feat: improve conftest types
  pyproject.toml
  tests/conftest.py
Labels: enhancement, dependencies, tests

#149 chore(main): Release 0.1.16
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#140 feat(filters): add filter for thermodynamic conversions at specific height levels
  pyproject.toml
  src/anemoi/transform/constants.py
  src/anemoi/transform/filters/matching.py
  src/anemoi/transform/filters/q_height.py
  src/anemoi/transform/grouping/__init__.py
  tests/test_height_level_humidity.py
  tests/utils/__init__.py
Labels: dependencies, tests

#146 chore: fix mypy type hint errors
  pyproject.toml
  src/anemoi/transform/fields.py
  src/anemoi/transform/filter.py
  src/anemoi/transform/filters/apply_mask.py
  src/anemoi/transform/filters/lambda_filters.py
  src/anemoi/transform/filters/land_parameters.py
  src/anemoi/transform/filters/matching.py
  src/anemoi/transform/filters/q_height.py
  src/anemoi/transform/filters/regrid.py
  src/anemoi/transform/filters/repeat_members.py
  src/anemoi/transform/filters/rodeo_opera_preprocessing.py
  src/anemoi/transform/grouping/__init__.py
  src/anemoi/transform/sources/mars.py
  src/anemoi/transform/variables/__init__.py
  src/anemoi/transform/variables/variables.py
Labels: dependencies
