Repository ecmwf/anemoi-transform, pull requests merged in 2025-03, with the labels that each got.

#49 feat: adding vertical velocity conversion filter
  src/anemoi/transform/filters/w_to_wz.py
Labels: contributor

#56 feat: Clipping strategy to solve issues in the ORAS6 reanalysis
  src/anemoi/transform/filters/oras6_clipping.py
Labels: enhancement, earth system components

#38 chore(main): Release 0.1.3
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#52 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#57 fix: return unmodified fields
  src/anemoi/transform/filters/w_to_wz.py
Labels: contributor

#66 docs: links to GitHub
  docs/_static/logo.png
  docs/conf.py
  docs/index.rst
Labels: documentation

#65 feat: plugin support
  .gitignore
  pyproject.toml
  src/anemoi/transform/fields.py
  src/anemoi/transform/filters/__init__.py
  src/anemoi/transform/filters/apply_mask.py
  src/anemoi/transform/filters/cos_sin_mean_wave_direction.py
  src/anemoi/transform/filters/glacier_mask.py
  src/anemoi/transform/filters/icon_refinement_level.py
  src/anemoi/transform/filters/lambda_filters.py
  src/anemoi/transform/filters/land_parameters.py
  src/anemoi/transform/filters/matching.py
  src/anemoi/transform/filters/oras6_clipping.py
  src/anemoi/transform/filters/regrid.py
  src/anemoi/transform/filters/remove_nans.py
  src/anemoi/transform/filters/repeat_members.py
  src/anemoi/transform/filters/rescale.py
  src/anemoi/transform/filters/rodeo_opera_clipping.py
  src/anemoi/transform/filters/rodeo_opera_preprocessing.py
  src/anemoi/transform/filters/snow_cover.py
  src/anemoi/transform/filters/timeseries.py
  src/anemoi/transform/filters/uv_to_ddff.py
  src/anemoi/transform/filters/w_to_wz.py
  src/anemoi/transform/grids/icon.py
  src/anemoi/transform/grouping/__init__.py
  src/anemoi/transform/sources/__init__.py
  src/anemoi/transform/sources/mars.py
  src/anemoi/transform/testing.py
  src/anemoi/transform/transform.py
  src/anemoi/transform/variables/variables.py
  src/anemoi/transform/workflows/pipeline.py
  tests/test_create.py
  tests/test_filters.py
  tests/test_grids.py
  tests/test_lambda.py
  tests/test_matching.py
  tests/test_repeat_members.py
  tests/test_rescale.py
  tests/test_snow.py
  tests/test_variables.py
Labels: dependencies, tests

#67 feat: fix regrid arguments
  src/anemoi/transform/filters/regrid.py
Labels: enhancement

#58 chore(main): Release 0.1.4
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#62 docs: Docathon
  .gitignore
  .readthedocs.yaml
  docs/Makefile
  docs/_templates/apidoc/package.rst.jinja
  docs/cli/get-grid.rst
  docs/cli/make-regrid-matrix.rst
  docs/cli/overview.rst
  docs/conf.py
  docs/index.rst
  docs/modules/placeholder.rst
  docs/overview.rst
  docs/scripts/api_build.sh
  pyproject.toml
  src/anemoi/transform/grids/__init__.py
Labels: documentation, dependencies

#64 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .gitignore
Labels: sync, CI/CD

#74 chore(main): Release 0.1.6
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#76 docs: fix
  docs/installing.rst
Labels: documentation

#77 chore(main): Release 0.1.7
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#79 chore(main): Release 0.1.8
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending
