Repository ecmwf/anemoi-transform, pull requests merged in 2025-06, with the labels that each got.

#106 chore: synced file(s) with ecmwf/reusable-workflows
  .release-please-config.json
Labels: sync

#110 test: use fixture from utils to download test data
  pyproject.toml
  src/anemoi/transform/testing.py
  tests/conftest.py
  tests/test_clipper.py
  tests/test_lambda.py
  tests/test_rescale.py
Labels: dependencies, tests

#98 feat: set resolution metadata in filter operation.
  src/anemoi/transform/filters/icon_refinement_level.py
Labels: contributor

#112 chore: Update PR template CLA
  .github/pull_request_template.md
Labels: CI/CD
