Repository ecmwf/anemoi-transform, pull requests merged in 2025-05, with the labels that each got.

#89 chore(main): Release 0.1.10
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#86 feat: thermo conversions
  src/anemoi/transform/filters/dewpoint.py
  src/anemoi/transform/filters/q_to_r.py
Labels: contributor

#101 fix: Rodeo delivery
  CHANGELOG.md
  src/anemoi/transform/filters/rodeo_opera_clipping.py
  src/anemoi/transform/filters/rodeo_opera_preprocessing.py
Labels: documentation

#95 fix(main): Release 0.1.11
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending
