Repository ecmwf/anemoi-transform, pull requests merged in 2025-02, with the labels that each got.

#30 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/changelog-pr-update.yml
  .github/workflows/changelog-release-update.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .github/workflows/release-please.yml
  .gitignore
  .pre-commit-config.yaml
  .release-please-config.json
  .release-please-manifest.json
  CONTRIBUTORS.md
  LICENSE
  README.md
  pyproject.toml
Labels: sync

#37 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
Labels: sync, CI/CD

#39 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
Labels: sync, CI/CD

#41 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/labeler.yml
  .github/workflows/pr-label-conventional-commits.yml
  .release-please-config.json
Labels: sync, CI/CD

#43 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
  src/anemoi/transform/commands/make-regrid-matrix.py
Labels: sync, CI/CD

#47 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .release-please-config.json
Labels: sync

#46 fix: fix test which need mars access
  tests/test_filters.py
  tests/test_repeat_members.py
Labels: tests

#45 chore: add type hints and doctrings
  pyproject.toml
  src/anemoi/transform/__init__.py
  src/anemoi/transform/__main__.py
  src/anemoi/transform/commands/__init__.py
  src/anemoi/transform/commands/get-grid.py
  src/anemoi/transform/commands/make-regrid-matrix.py
  src/anemoi/transform/fields.py
  src/anemoi/transform/filter.py
  src/anemoi/transform/filters/apply_mask.py
  src/anemoi/transform/filters/base.py
  src/anemoi/transform/filters/clear_step.py
  src/anemoi/transform/filters/glacier_mask.py
  src/anemoi/transform/filters/lambda_filters.py
  src/anemoi/transform/filters/land_parameters.py
  src/anemoi/transform/filters/regrid.py
  src/anemoi/transform/filters/repeat_members.py
  src/anemoi/transform/filters/rescale.py
  src/anemoi/transform/filters/rodeo-opera-mask.py
  src/anemoi/transform/filters/snow_cover.py
  src/anemoi/transform/filters/sum.py
  src/anemoi/transform/filters/timeseries.py
  src/anemoi/transform/filters/uv_to_ddff.py
  src/anemoi/transform/grids/unstructured.py
  src/anemoi/transform/grouping/__init__.py
  src/anemoi/transform/source.py
  src/anemoi/transform/sources/mars.py
  src/anemoi/transform/transform.py
  src/anemoi/transform/variables/__init__.py
  src/anemoi/transform/variables/variables.py
  src/anemoi/transform/workflow.py
  src/anemoi/transform/workflows/pipeline.py
  tests/test_filters.py
  tests/test_grids.py
  tests/test_repeat_members.py
  tests/test_snow.py
  tests/test_variables.py
Labels: dependencies, CI/CD, tests

#42 docs: use new logo
  docs/_static/logo.png
Labels: documentation

#31 Feature/cos sin mean wave direction
  CHANGELOG.md
  src/anemoi/transform/fields.py
  src/anemoi/transform/filters/base.py
  src/anemoi/transform/filters/cos_sin_mean_wave_direction.py
  src/anemoi/transform/filters/icon_refinement_level.py
  src/anemoi/transform/filters/remove_nans.py
  src/anemoi/transform/transform.py
Labels: documentation

#48 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
Labels: sync, CI/CD
